.add-event {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
   background-color: #4e86be;
   justify-items: center;
}
form {
  
  margin: 50px auto;
  padding:  20px 200px;
  background-color: #f8fafc;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
 
  gap: 15px;
}


form input,
form textarea {
  padding: 20px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
    outline: none;
}


form input:focus,
form textarea:focus {
  border-color: #38bdf8;
}


form textarea {
  min-height: 100px;
  resize: vertical;
}


form button {
  padding: 12px;
  background-color: #38bdf8;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}


form button:hover {
  background-color: #0ea5e9;
}
